.account {
  background: linear-gradient(180deg, #4C54E1 0%, #6652E2 100%);
  border-radius: 8px;
  box-shadow: 0px 9px 19px -4px rgba(46, 51, 136, 0.12), 0px 3px 7px rgba(36, 40, 108, 0.02);
  color: #FFFFFF;
  cursor: pointer;
  height: 157px;
  margin-right: 16px;
  width: 132px;
  padding: 14px;
  position: absolute;
  top: 0;
  transition: all 0.5s;
}

.account.expanded {
  cursor: default;
  height: 260px;
  width: 375px;
  top: -132px;
  left: -24px !important;
  padding: 24px;
  z-index: 1;
}

.account-text {
  margin-top: 0;
  transition: all 0.5s;
}

.account.expanded .account-text {
  margin-top: 82px;
}

.account-main {
  display: flex;
  margin-top: 22px;
}

.account-currency {
  font-size: 18px;
  line-height: 18px;
  margin-right: 2px;
  transition: all 0.5s;
}

.account.expanded .account-currency {
  font-size: 24.5px;
}

.account-amount {
  font-size: 38px;
  line-height: 22px;
  transition: all 0.5s;
}

.account.expanded .account-amount {
  font-size: 65px;
}

.account-profile {
  margin-top: 55px;
  height: 18px;
  width: 18px;
}

.account.expanded .account-profile {
  visibility: hidden;
}