* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  font-family: 'Raleway', sans-serif;
  overflow: hidden;
  padding: 24px;
  position: relative;
  width: 375px;
}

h1 {
  font-weight: 700;
  font-size: 24px;
}

h3 {
  font-weight: 600;
  font-size: 14px;
}

h4 {
  font-weight: 500;
  font-size: 11px;
}

.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image-back {
  cursor: pointer;
  height: 19px;
  z-index: 3;
}

.image-profile {
  height: 30px;
  z-index: 3;
}

.title-account {
  margin: 21px 0 13px 0;
}

.accounts {
  display: flex;
  height: 157px;
  margin-right: -24px;
  overflow-y: scroll;
  position: relative;
}

.accounts.expanded {
  overflow: visible;
}

.image-add {
  height: 58px;
  width: 58px;
  position: absolute;
  top: 208px;
  right: 24px;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.image-add.expanded {
  opacity: 1;
  z-index: 3;
}

.transactions {
  background: white;
  border-radius: 24px;
  margin: 0 -24px;
  padding: 31px 24px 0;
  transition: all 0.5s;
}

.transactions.expanded {
  position: relative;
  transform: translateY(-54px);
  z-index: 2;
}

.title-transactions {
  margin-bottom: 11px;
}

.row {
  background: #F9F9F9;
  border-radius: 8px;
  height: 54px;
  margin-bottom: 8px;
}