* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  font-family: 'Raleway', sans-serif;
  overflow: hidden;
  padding: 24px;
  width: 375px;
}

h1 {
  font-weight: 700;
  font-size: 24px;
}

h3 {
  font-weight: 600;
  font-size: 14px;
}

h4 {
  font-weight: 500;
  font-size: 11px;
}

.image-profile {
  display: flex;
  margin-left: auto;
  height: 30px;
}

.title-account {
  margin: 21px 0 13px 0;
}

.accounts {
  display: flex;
  margin-right: -24px;
  overflow-y: scroll;
}

.title-transactions {
  margin: 30px 0 11px 0;
}

.row {
  background: #F9F9F9;
  border-radius: 8px;
  height: 54px;
  margin-bottom: 8px;
}