.nav {
  background: white;
  display: flex;
  justify-content: space-around;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.circle {
  border: 1px solid #C4C4C4;
  border-radius: 50%;
  height: 24px;
  margin: 25px auto 7px auto;
  width: 24px;
}

.circle-current {
  border: 2px solid #4C54E1;
}

.underline {
  background: #C4C4C4;
  border-radius: 4px;
  height: 3px;
  margin-bottom: 27px;
  width: 43px;
}

.underline-current {
  background: #4C54E1;
}